# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# VSCode settings
.vscode/

# pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# PyPI credentials
.pypirc

# OS junk files
.DS_Store
Thumbs.db
